body {
    background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),url("./images/background.jpg");
    background-position: center;
    background-size: cover;
}

#option2-info, #option3-info, .additional-info2 {
    display: none;
}

.booking-form-box{
    border: 1px solid #ced4da;
    margin: 10% auto 0;
    max-width: 350px;

}

.radio-btn {
    margin: 0 20px;
}

.radio-btn .btn {
    box-shadow: none;
    margin: 20px 10px 20px 0;
}

.radio-btn .btn:after {
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 15px;
    left: -1px;
    position: relative;
    top: -2px;
    visibility: visible;
    width: 15px;
}

.radio-btn .btn:checked:after {
    background-color: #000;
    content: '';
    transition: 0.5s;
}

.radio-btn span {
    color: #fff;
    font-size: 12px;
    margin-right: 5px;
}

.booking-form {
    padding: 0 20px 20px;
}

.booking-form label {
    color: #fff;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
}

input::placeholder {
    color: #fff !important;
}

.input-grp {
    display: inline-block;
    width: 151px;
}

.input-grp2 {
    display: inline-block;
    width: 100%;
}

.form-control {
    background: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #fff !important;
    font-size: 12px !important;
}

.select-date::-webkit-inner-spin-button, .select-date::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;

}

.select-date::-webkit-calender-picker-indicator {
    background: transparent !important;
}

.custom-select {
    background: transparent !important;
    border: 1px solid #ced4da !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #fff !important;
    font-size: 12px !important;
    width: 100%;
}

.custom-select option {
    color: #333;
}

.flight {
    background: transparent !important;
    border: 1px solid #ced4da !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    font-size: 12px !important;
    padding: 9px 0 !important;
    width: 100%;
}

.flight:hover {
    background: #fff !important;
    color: #000 !important;
    transition: 0.5s;
}

